/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Jeanderson Barros Candido
   Date:   10-23-2012

   Filename:         paper.css
   Supporting Files: 

*/
/* 
Makes the body's width 98% of the page with a minimum of 1000 pixels and 
a maximum width of 1400 pixels
*/
body {
	position: relative;
	width: 100%;
	min-width: 1000px;
	max-width: 1400px;
	background-image: url(parch2.jpg);
	font-family: Geneva, sans-serif;
    font-size: 11pt;
}

/* Set container width, margins, borders, and background images/color */
div#container {
	width: 800px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	background-image: url(parch.jpg);
    
}

/* Header style */
header img{
	width: 100%;
	margin-left: 0px;
    background-size: 100%;
}

/* nav style */
nav.vertical {
	clear: left;
	float: left;
	width: 150px;
	margin-top: -15px;
	padding-right: 5px;
}

nav.vertical ul {
	margin: 0px;
	padding: 0px;
}

nav.vertical li {
	list-style: none;
	text-indent: 5px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px dashed black;
}

nav.vertical ul li.first {
    margin-top: 20px;
	border-top: 2px solid black;
}
nav.vertical ul li.subSection {
	border-top: 2px solid black;
}
nav.vertical ul li a {
	display: block;
	width: 100%;
	padding-left: 5px;
	color: black;
	height: 35px;
	font-weight: bold;
	text-decoration: none;
	line-height: 25px;
}

nav.vertical ul li a:hover {
	color: white;
	margin-top: -5px;
	background-color: rgb(92, 51, 23);
	font-weight: bold;
	line-height: 35px;
}

/* Section style */
section {
	float: left;
	width: 495px;
}

/* Article style */
article.story {
	margin: 5px 5px;
	padding: 15px;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 5px;
	-webkit-border-radius: 5px;	
	-moz-border-radius: 5px;
}

article.story  p{
	margin-top: 10px;
	margin-bottom: 10px;
}

article.story  img {
	margin: 8px;
	float: right;
	height: 137px;
	width: 98px;
}

article.story h1{
	color: rgb(139, 69, 19);
    font-size: 15pt;
    margin: 0px;
}

/* Aside style */
aside {
	float: left;
	width: 150px;
	text-align: center;
}

aside h1 {
	color: rgb(139, 69, 19);
	font-size: 12pt;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	margin: 10px;
}

aside ul {
	margin: 0px;
	padding: 0px;
}
aside ul li {
	background-color: rgb(255, 255, 255);
	border: 4px solid rgb(139, 69, 19);
	font-size: 12px;
	color: black;
	list-style: none;
	margin: 5px;
	padding: 3px;
}

aside ul li a {
    display: block;
	width: 100%;
	color: black;
	height: 30px;
	text-decoration: none;

}
aside ul li:hover {
	background-color: rgba(92, 51, 23, 0.5);
    font-weight:bold;
}

/* Footer Style*/

footer {
	background-color: rgb(92, 51, 23);
	border-top: 1px solid black;
	clear: left;
}

footer address {
    font-size: 10pt;
    font-style: normal;
	color: white;
	font-size: 14px;
	text-align: center;
    margin-top: 20px;
    height: 45px;
}

