/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 2

   Pizza Style Sheet
   Author: Jeanderson Barros Candido
   Date:   10-19-2012

   Filename:         pizza.css
   Supporting Files: 

*/

/* Set the defaults */
body, header, section, aside, footer, nav {
	display: block;
}

* {
	padding: 0px;
	margin: 0px;
}

/* Set the defaults */
body {
	background-color: red;
	font-family: Verdana, Geneva, sans-serif;
}

/* Set container width, margins, borders, and background images/color */
div#container {
	width: 1000px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border-right: 1px solid black;
	border-left: 1px solid black;
	background-color: white;
	background-image: url(redbar.png);
	background-position: top left;
	background-repeat: repeat-y;
}

header {
	background-color: white;
	height: 100px;
}

nav.horizontal {
	height: 70px;
	width: 100%;
	background-color: white;
}

nav.horizontal ul {
	margin: 0px;
	padding: 0px;
}

nav.horizontal li {
	background-color: white;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	width: 180px;
	display: block;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

nav.horizontal ul li a {
	display: block;
	background-color: red;
	color: white;
	text-decoration: none;
	
	border-bottom-left-radius: 30px 25px;
	border-top-left-radius: 30px 25px;
	border-bottom-right-radius: 30px 25px;
	border-top-right-radius: 30px 25px; 
	
	-webkit-border-bottom-left-radius: 30px 25px;
	-webkit-border-top-left-radius: 30px 25px;
	-webkit-border-bottom-right-radius: 30px 25px;
	-webkit-border-top-right-radius: 30px 25px;
	
	-moz-border-radius-bottomleft: 30px 25px;
	-moz-border-radius-topleft: 30px 25px;
	-moz-border-radius-bottomright: 30px 25px;
	-moz-border-radius-topright: 30px 25px; 
}

nav.horizontal ul li a:hover {
	background-color: rgb(255, 101, 101);
	color: black;
}

nav.vertical {
	clear: left;
	float: left;
	width: 200px;
}

nav.vertical ul {
	margin: 0px;
	padding: 0px;
}

nav.vertical ul li {
	list-style: none;
	text-indent: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

nav.vertical ul a {
	color: white;
	text-decoration: none;
}

nav.vertical ul a:hover {
	color: black;
}

section#main {
	background-color: rgb(255, 211, 211);
	float: left;
	width: 600px;
}

section#main p {
	font-size: 20px;
	margin: 15px;
}

section#main img {
	float: right;
	margin: 15px;
	width: 350px;
	
	border-bottom-left-radius: 350px;
	-webkit-border-bottom-left-radius: 350px;	
	-moz-border-radius-bottomleft: 350px;
}

section#main div.coupon {
	border: 5px dashed black;
	float: left;
	width: 170px;
	height: 150px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	background-image: url(slice.png), url(notice.png);
	background-position: center, bottom right;
	background-repeat: no-repeat, no-repeat;
	background-color: white;
}

section#main div.coupon h1 {
	color: white;
	background-color: rgb(192, 0, 0);
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	height: 25px;
	font-variant: small-caps;
}

section#main div.coupon p {
	margin: 5px;
	font-size: 14px;
	text-align: center;
}

aside {
	float: left;
	width: 200px;
}

aside h1 {
	color: rgb(192, 0, 0);
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

aside ul {
	margin: 0px;
	padding: 0px;
}

aside ul li {
	background-color: rgb(255, 135, 135);
	border-radius: 5px;
	-webkit-border-radius: 5px;	
	-moz-border-radius: 5px;
	color: black;
	list-style: none;
	margin: 10px;
	padding: 5px;
}

footer {
	clear: left;
	margin-left: 200px;
}

footer address {
	border-top: 1px solid red;
	color: red;
	font-size: 10px;
	font-style: normal;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 20px;
}

